*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
    text-align: center;
}
.box{
    margin: 7%;
    padding: 10%;
    background: wheat;
    font-size: 30px;
    font-weight: bold;
}
input[type='number']{
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}
input[type='submit']{
    padding: 0px;
    width: 100px;
    height: 35px;
    font-size: 20px;
}
input[type='submit']:hover{
    background-color: yellowgreen;
}
#result{
    margin: 10px;
}

